:root {
  /* color formulaire */
  --primary: #ffffff;
  --secondary: aqua;
  --placeholder: grey;
  --bg-color-light: #333333;
  --bg-color: #222222;
  --feature: #000000;
  --light-gold: lightgoldenrodyellow;
  --gold: goldenrod;
  --button: peru; 
  --button-actif: tan;
  
  /* coloor demo */
  --primary-demo: #eeeeee;
  --secondary-demo: #111111;
  --nav: crimson;
  --bg-color-light-demo: burlywood;
  --bg-color-demo: steelblue;
}
::-webkit-scrollbar {
  display: none;
}

/**
 * -------------------------------------------------------------
 * TAG HTML
 * -------------------------------------------------------------
 **/

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-width: calc(100% - 6rem);
  max-width: 100vw;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 3.7rem;
  color: var(--button);
  text-shadow: 0.1rem 0.1rem 0.5rem var(--feature);
}
h2 {
  font-size: 2rem;
  color: var(--secondary);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
p {
  min-height: 10rem;
  min-width: 95%;
  margin: 1rem 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.16rem;
  padding: 0.5rem;
  text-align: justify;
  color: var(--primary);
}
strong {
  color: var(--button-actif);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  max-width: calc(100vw - 0.5rem);
  margin-bottom: 12rem;
}
small {
  color: var(--secondary);
}
input {
  font-size: 1.6rem;
  padding: 0.8rem;
}
input[type="text"] {
  min-width: calc(100% - 2rem);
  border: 0.2rem solid var(--feature);
}
label {
  padding-right: 0.3rem;
  font-size: 2rem;
}
input[type="number"] {
  margin: 0.3rem 0;
  min-width: 80%;
  max-width: 80%;
}
input[type="number"]::placeholder {
  font-size: 1.5rem;
}
::placeholder {
  font-size: 1.5rem;
}
input[type="color"] {
  min-width: calc(100% - 16px);
  padding: none;
  cursor: pointer;
}
ul {
  font-size: 1.5rem;
  list-style: none;
  color: var(--primary);
  padding-left: 0;
}
a {
  color: var(--light-gold);
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  display: block;
  margin: 1rem 0;
  transition: color 0.4s ease-in-out;
}
a:hover {
  color: var(--gold);
  transition: color 0.4s ease-in-out;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.25rem;
  color: var(--primary);
  box-shadow: -10px 0 10px var(--feature);
  text-align: center;
  text-transform: uppercase;
}
footer span:first-child,
footer span:last-child {
  text-align: center;
}
span:nth-child(2) {
  position: relative;
}
img {
  position: absolute;
  bottom: 0;
  left: -3.5rem;
  width: 8rem;
  filter: drop-shadow(0 0 0.5rem var(--feature));
}

/* Présentation */
.presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 100%;
}
/* Container-left */
.container-left {
  padding: 0 1.5rem 2rem 1.5rem;
  margin: 0 0 1rem 0;
  min-width: calc(100% - 4rem);
}
.container-input-number form {
  display: flex;
  flex-direction: column;
}
.container-input-number form .red,
.container-input-number form .green,
.container-input-number form .blue {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: grey;
  font-size: 2.5rem;
}

/* Container-right */
.container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
  min-width: calc(95% - 4rem);
  margin: 0 0 6rem 0;
}
.color-choice {
  min-width: 95%;
  min-height: 25rem;
  font-size: 3rem;
  border: 2px dashed var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  text-shadow: 0.1rem 0.1rem 0.1rem var(--feature);
  cursor: not-allowed;
  margin: auto;
}
.color-saved {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.color-saved .color {
  min-width: 4rem;
  min-height: 4rem;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem var(--feature);
  cursor: pointer;
  border: 0.2rem solid var(--primary);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  color: var(--primary);
}
.btn {
  min-width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 1.5rem auto;
  display: block;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--light-gold);
  transition: all 0.4s ease-in-out;
}
button {
  background-color: var(--button);
  outline: none;
  text-transform: uppercase;
  color: var(--feature);
  border: none;
  transition: all 0.4s ease-in-out;
  padding: 0.5rem;
  cursor: pointer;
}
button:active,
button:hover {
  background-color: var(--button-actif);
  transition: all 0.4s ease-in-out;
}

/* Démonstration */
.container-demo  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 8rem var(--secondary-demo) inset;
}
nav {
  min-height: 4rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 2rem var(--secondary-demo),
  0 0 1rem var(--secondary-demo) inset;
}
nav ul {
  min-width: 80%;
  display: flex;
  justify-content: space-evenly;
  color: var(--feature);
}
.container-demo  h1 {
  font-size: 3.5rem;
  text-shadow: 0 0 1rem var(--secondary-demo);
  color: var(--feature);
}
.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6rem;
  margin-top: 0;
  max-width: 90%;
}
article {
  max-width: 100%;
  box-shadow: 0 0 1rem var(--secondary-demo);
  margin-bottom: 5rem;
}

article header {
  margin: 0;
  min-height: 4rem;
  line-height: 4rem;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--secondary-demo);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
article header h2 {
  font-size: 2.5rem;
  color: var(--feature);
  margin: 0;
}
article div {
  padding: 3rem;
  font-size: 2rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}
.article-footer {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: -0.1rem -0.1rem 0.2rem var(--secondary-demo);
}
.article-footer span {
  display: block;
  font-size: 1.8rem;
  line-height: 1.8rem;
}


/* TABLETTE 500 > 768px */
@media screen and (min-width: 500px) and (max-width: 768px) {
  body {
    padding: 2rem;
    min-width: calc(100vw - 4rem);
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  article {
    max-width: 80%;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: 0.18rem;
    min-width: 46%;
    max-width: 46%;
    padding: 0.8rem;
  }
  section {
    padding: 0 2rem;
    max-width: calc(100vw - 4rem);
  }
  a {
    font-size: 1.7rem;
    letter-spacing: 0.17rem;
  }
  input {
    font-size: 1.8rem;
    padding: 1rem;
  }
  label {
    font-size: 3rem;
    padding-right: 1rem;
  }
  input[type="number"] {
    font-size: 2rem;
  }
  ::placeholder {
    font-size: 1.8rem;
  }
  ul {
    font-size: 1.8rem;
  }
  footer {
    font-size: 1.5rem;
  }

  /* Présentation */
  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
  }

  /* Container-left */
  .container-left {
    padding: 0;
    margin: 0;
    min-width: 100%;
  }
  .container-input-number form .red,
  .container-input-number form .green,
  .container-input-number form .blue {
    font-size: 3rem;
  }
  
  /* Container-right */
  .container-right {
    padding: 0;
    min-width: 100%;
  }
  .color-choice {
    min-width: 100%;
    font-size: 4rem;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--feature);
  }
  .color-saved .color {
    min-width: 10rem;
    min-height: 10rem;
    font-size: 3.5rem;
  }
  .btn {
    min-width: 80%;
    font-size: 1.8rem;
    margin: 2rem auto;
  }
}

/* DESKTOP > 768px */
@media screen and (min-width: 769px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  article {
    max-width: 80%;
  }
  p {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.20rem;
    min-width: 48%;
    max-width: 48%;
    padding: 0 1rem;
  }
  section {  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    min-width: 80vw;
    max-width: 100vw;
    margin-bottom: 12rem;
  }
  a {
    font-size: 1.8rem;
    letter-spacing: 0.18rem;
  }
  input {
    font-size: 2rem;
    padding: 1rem;
  }
  label {
    padding-right: 1rem;
    font-size: 3rem;
  }
  input[type="number"] {
    font-size: 2rem;
  }
  ::placeholder {
    font-size: 2rem;
  }
  ul {
    font-size: 2em;
  }
  footer {
    font-size: 1.7rem;
  }

  /* Présentation */
  .presentation {
    display: flex;
    flex-direction: row;
    min-width: 80%;
    max-width: 80%;
  }

  /* Container-left */
  .container-left {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    min-width: 40%;
    max-width: 40%;
  }
  .container-input-number form .red,
  .container-input-number form .green,
  .container-input-number form .blue {
    font-size: 3.5rem;
  }
  
  /* Container-right */
  .container-right {
    padding: 0 1rem 1rem 1rem;
    min-width: 100%;
    min-width: calc(40% - 3rem);
    max-width: calc(40% - 3rem);
  }
  .color-saved .color {
    min-width: 6rem;
    min-height: 6rem;
    font-size: 2rem;
  }
  .btn {
    font-size: 2rem;
  }

  /* Démonstration */
  .container-demo  {
    width: 95vw;
    margin: 4rem 0;
  }
}